//Font family
$font-sans-serif: 'Montserrat', sans-serif;
//Font
$font-bg: 900 3em $font-sans-serif;
$font-md: 600 1.5em $font-sans-serif;
$font-sm: 400 1em $font-sans-serif;
//Color
$color-primary-extra-light: #cae3de;
$color-primary-light: #00AA8E;
$color-primary-dark: #037A68;
//Border radius
$borderRadius-md: 16px;
$borderRadius-bg: 30px;
