.timeline-container{
    position: relative;
    ol{
        display: flex;
        justify-content: space-between;
    }
    li{
        list-style: none;
        border: 1px solid #000;
        border-radius: 30px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 40px;
    }
}

.timeline-container::before{
    content: '';
    width: 100%;
    height: 1em;
    position: absolute;
    top: calc(50% - 0.5em);
    z-index: -10;
    background-color: #d3d3d3;
    border-radius: 30px;
}