@use 'styleGuide';

.timeline-container{
    position: relative;
    ol{
        display: flex;
        justify-content: space-between;
    }
    li{
        font: styleGuide.$font-sm;
        list-style: none;
        border: 1px solid #000;
        border-radius: styleGuide.$borderRadius-bg;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 40px;
    }
}

.timeline-container::before{
    content: '';
    width: 100%;
    height: 1em;
    position: absolute;
    top: calc(50% - 0.5em);
    z-index: -10;
    background-color: styleGuide.$color-primary-extra-light;
    border-radius: styleGuide.$borderRadius-bg;
}

.timeline-container li.actived{
    background-color: styleGuide.$color-primary-dark;
    border-color: styleGuide.$color-primary-dark;
    color: #fff;
}

.timeline-container li.disabled{
    background-color: #fff;
    border-color: styleGuide.$color-primary-dark;
    color: styleGuide.$color-primary-dark;
}

